body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(33, 27, 36);
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#p5_loading {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #1B4DB1;
}